header{
  border: 1px solid black;
  overflow: auto;
  width: 1145px;
  margin-left:auto;
  margin-right:auto;
}
nav a{
  float: left;
  visibility: visible;
  margin-left: 3px;
  margin-right: 3px;
  padding:0;
}
nav img  {
  background-color: black;
  border: 2px solid black;
  margin:0;
}
nav{
  height: 60px;
  background-color: black;
  overflow: hidden;
  line-height: unset;
}
nav ul{
  float: left;
  margin:0;
  padding:0;
  text-align:left;
  width:800px;
}
nav ul a{
  font-size: 20px;
  color:white;
  text-decoration: unset;
  margin-left:2px;
  margin-right:2px;
}

.nav-button {
  margin-top:20px;
  vertical-align: top;
  display: inline-block;

}
.nav-button:hover{
  background-color: rgba(57, 57, 88, 0.9);
}

#hideshow{
  float:right;
}

nav ul a{
 padding-left:2px;
 padding-right:2px;
}

#menuicon{
  height:45px;
  padding-top:15px;
  padding-right:15px;
}
@media (max-width:1145px){

  header{
    border: 1px solid black;
    overflow: auto;
    width: auto;
  }

  li a{
    width:0;
    visibility: hidden;
  }
  #showhide{
    width:30px;
  }

}
