/*--------------- NAVIGATION START ------------------*/

header {
    height: 52px;
    width: 1145px;
    margin: 0 auto;
    line-height: 52px;
    background-color: #00abd9;
    border-radius: 0px 0px 5px 5px;
    z-index: 1;
    display: block;
    font-family: Roboto;

}


nav {
    width: 1145px;
    position: fixed;

}

nav {
    width: 1145px;
    height: 52px;
    z-index: 1;
    position: absolute;
    background-color: #00abd9;
    border-radius: 0px 0px 5px 5px;
}

.container {
    padding: 0;
    margin: 0 auto;
    width: auto;
}





#logo {

    float: left;
    margin: 0;
}

#logo a {
    margin-left: 10px;
}

#logo a img {
    width: 100px;
    margin-top: 9px;

}

nav {
    height: 30px;
}

nav ul {
    margin: 0;
}

nav ul a {
    font-size: 18px;
    padding: 0 8px;
    color: white;
    text-decoration: none;
}

.nav-button {
    display: inline-block;
    text-decoration: none;
}

.nav-button:hover {
    background-color: rgba(57, 57, 88, 0.9);
}

/*--------------- NAVIGATION END ------------------*/



/*--------------- MEMBERS ------------------*/

.container {
    font-size: 15px;
    width: 1145px;
    margin: 0 auto;
    margin-bottom: 40px;
}

h1 {
    font-size: 60px;
    color: #00abd9;
    margin: 20px 0 5px 0;
    font-family: Roboto;
    font-weight: 400;
}

.content {
    background-color: white;
    overflow: hidden;
    margin-bottom: 30px;
    border-radius: 3px;
    font-size: 15px;
    font-family: Roboto;
    line-height: 20px;
}

.content h2 {
    font-size: 20px;
    font-weight: bold;
    width: 100%;
    padding-left: 10px;
    margin: 0;
    background-color: rgb(211, 237, 245);
    color: black;
    line-height: 52px;
    height: 52px;
}

.content ul {
    list-style-image: url(../img/members/list-img.png);
    float: left;
}

.person {
    margin: 10px;
    overflow: hidden;
}

.person img {
    float: left;
}

.photo {
    width: 140px;
    height: 175px;
    float: left;
}

.name {
    font-size: 20px;
    font-weight: 500;
}

#info {
    float: left;
    width: 435px;
    height: 175px;
    line-height: 30px;
}

#interest {
    float: right;
    width: 550px;
    height: 175px;
}

#interest li:nth-of-type(1) {
    list-style: none;
    margin: 0px 0px 0px -12px;
}


/*ACCORDION*/
summary::-webkit-details-marker {
  display: none;
}

/*creates the close arrow*/
summary:after {
  content: "";
  width: 20px;
  height: 20px;
  transform: rotate(45deg);
  transition: all 0.3s ease-out;
  border-bottom: 2px solid #cbd2d6;
  border-right: 2px solid #cbd2d6;
  float: right;
    margin-top: -40px;
    margin-right: 20px;
    
}

details[open] summary:after {
  content: "";
  transform: rotate(-45deg);
  margin-top: -35px;
}